.list-group {
  height: auto;
  max-width: 100%;
  margin-top: 70px;
  margin-inside: 0;
}

.jumbotron {
  //background-color: #f4511e;
  color: #000000;
  position: relative;
  padding: 5px !important;
  margin-top: 70px !important;
}

.navbar {
  margin-bottom: 0;
  //background-color: #f4511e;
  z-index: 9999;
  border: 0;
  //font-size: 12px; // important
  //line-height: 1.42857143; // important
  //letter-spacing: 1px;
  border-radius: 0;
}

#home {
  data-spy: "scroll";
  data-target: ".navbar";
  data-offset: "60";
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}