@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  @include border-radius(10px);
}

.card:hover {
  /* On mouse-over, add a deeper shadow */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.rounded-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@mixin card-columns($count) {
  .card-columns {
    -webkit-column-count: $count;
    -moz-column-count: $count;
    column-count: $count;
  }
}

@media (min-width: 576px) {
  @include card-columns(2);
}

@media (min-width: 768px) {
  @include card-columns(3);
}

@media (min-width: 992px) {
  @include card-columns(4);
}

@media (min-width: 1200px) {
  @include card-columns(5);
}

.card-columns .card {
  margin: 10px;
}