body {
  margin-left: 2%;
  margin-right: 2%; }

.slideLables {
  vertical-align: middle;
  clear: both;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 5px;
  margin-right: 6px;
  display: inline-block; }

.slideOutputs {
  text-align: right;
  margin-right: 20px;
  margin-bottom: 6px;
  display: inline-block;
  vertical-align: middle; }

.plt {
  border-style: "solid";
  border-width: 5px;
  height: 100px; }

#mainDiv {
  width: 100%;
  margin-left: 0;
  margin-right: 0; }

.btn-row {
  margin-top: 20px;
  margin-bottom: 10px; }

.well {
  border-radius: 5px;
  text-align: center; }

h1 {
  margin-top: 70px; }

h4 {
  text-align: center; }

p {
  font-size: 16px; }

#appDiv {
  width: 90%;
  margin-top: 15px;
  background-image: linear-gradient(to bottom, #c1c1c1 0, #c1c1c1 100%);
  box-shadow: inset 1px 2px 3px 1px rgba(240, 240, 240, 0.5), 1px 2px 1px #dadada;
  border-radius: 10px;
  opacity: 0.8;
  text-align: center; }

#controlPanel {
  float: bottom;
  width: 90%;
  margin-left: 5%;
  text-align: center;
  background-color: #E6E6E6;
  border: 5px solid #D5D5D5;
  border-radius: 5px;
  padding-bottom: 10px; }

#slider0 {
  width: 100%;
  text-align: left; }

.main-svg {
  border-radius: 7px;
  box-shadow: inset 1px 2px 1px 1px rgba(0, 0, 0, 0.15); }

input[type=range] {
  -webkit-appearance: none;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #7FD8CF;
  border-radius: 10px;
  border: 0px solid #010101; }

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.5px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #7FD8CF; }

input[type=range]::-moz-range-track {
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #7FD8CF;
  border-radius: 10px;
  border: 0px solid #010101; }

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #FFFFFF;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
  box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.15); }

input[type=range]::-ms-fill-lower {
  background: #7FD8CF;
  border: 0px solid #010101;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #000000; }

input[type=range]::-ms-fill-upper {
  background: #7FD8CF;
  border: 0px solid #010101;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #000000; }

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #FFFFFF;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #7FD8CF; }

input[type=range]:focus::-ms-fill-upper {
  background: #7FD8CF; }

/*# sourceMappingURL=panel3.css.map */
